#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release \
	-DQT_VERSION=6 \
	-DLINUX_RPATH:BOOL=OFF \
	-DLINUX_PORTABLE:BOOL=OFF \
	-DINSTALL_LICENSE_FILES:BOOL=OFF
